{% extends "base.html" %}
{% block guestlinks %}
	<a href="{% url 'accounts:login_page' %}">Log in</a>
{% endblock %}


{% block content %}
<div class="container">
	<div class="jumbotron">
		<h2>Welcome to the new Fantasy Hackathon Series!</h2>
		<p>New for the Hackathon Community: the fantasy era begins!</p>
	</div>

	<div class="container">
		<h4>Past Champions</h4>
		<table class="table">
			<tr>
				<th>Winner</th>
				<th>Fantasy Hackathons</th>
			</tr>
			<tr>
			    <td>Meng Fantasy</td>
			    <td>SocialSign Hackathon, Angel Hack Los Angeles, Angel Hack Toronto, Angel Hack Hong Kong</td>
			</tr>
			<tr>
			    <td>Forrest Fantasy</td>
			    <td>Angel Hack Manhattan (tie), Whatever Hackathon, TechCrunch Disrput New York, SalesForce Hackathon</td>
			</tr>
			<tr>
				<td>Nick Fantasy</td>
				<td>Curalate Hackathon, Angel Hack Tokyo, Angel Hack Moscow, Angel Hack Manhattan (tie) </td>
			</tr>
			<tr>
			    <td>Shaun Fantasy</td>
			    <td>Startup Institute Hackathon</td>
			</tr>
			<tr>
				<td>Isaiah Fantasy</td>
				<td>HUGE Hackathon</td>
			</tr>
			<tr>
			    <td>Iñak Fantasy</td>
			    <td>Founder Hackathon</td>
			</tr>
			<tr>
			    <td>Gabe Fantasy</td>
			    <td>Design Hackathon</td>
			</tr>
			<tr>
			    <td>Rafael Fantasy</td>
			    <td>Inbox Hackathon</td>
			</tr>
 			<tr>
			    <td>Drew Fantasy</td>
			    <td>Art direction Hackathon</td>
			</tr>
			<tr>
			    <td>Adam Fantasy</td>
			    <td>AngelHack (tie)<td>
			</tr>
			<tr>
			    <td>Stela Fantasy</td>
			    <td>AngelHack (tie)</td>
			</tr>
			<tr>
			    <td>Jose Fantasy</td>
			    <td>AngelHack (tie)</td>
			</tr>
			<tr>
			    <td>Jin Fantasy</td>
			    <td>Every Hackathon</td>
			</tr>
			<tr>
			    <td>Ben Fantasy</td>
			    <td>Whatever Hackathon</td>
			</td>

			<tr>
			    <td>Fikre Fantasy</td>
			    <td>Comedy Hackathon</td>
			</td>			
		</table>
	</div>
</div>
{% endblock %}
